@charset "utf-8";
/* CSS Document */

body {
	background: #00027f;
	border: 1px solid #FFF;
}
#wappr {
	height: auto;
	width: 960px;
	margin: 0px auto;
	background: #FFF;
	overflow: hidden;
}

#wappr #headdr {
	height: 200px;
	width: 960px;
}
#sid-menu {
	height: auto;
	width: 210px;
	float: left;
}
#header h1 em {
	visibility: hidden;
}

#main {
	height: auto;
	width: 720px;
	float: right;
}
#main .coment {
	background: url(images/wanko.jpg);
}
#main .coment p {
	color:#30F;
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	font-weight: bold;
}

#sidenay {
	margin: 0px 10px;
	float: left;
	width: 210px;
}
#main .coment {
	color: #FFF;


	background:;
		background:url(file:///C|/Users/user1/Dropbox/web%E3%82%AF%E3%83%AA%E3%82%A8%E3%82%A4%E3%82%BF%E3%83%BC%E8%82%B2%E6%88%90%E4%BA%8B%E6%A5%AD_%E5%85%B1%E6%9C%89/20121022_HTMLTAG/html_tag/basics/images/wanko.jpg);
}

#sidenay li {
	height: 33px;
	border-bottom: 2px solid #00027f;
	border-left: 2px solid #00027f;
}
#main .coment h3 {
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	font-size: 36px;
	font-weight: bold;
	color:#F00;
}
#main .coment h4 {
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace;
	font-size: 18px;
	font-weight: bold;
	color:#F09;
}


#baisics a {
	display: block;
}
#baisics a {
	background: url(../images/list_button/basics_off.png);
	display: block;
	height: 30px;
	width: 160px;
}
#baisics a:hover {
	background: url(../images/list_button/basics_on.png);
}
#header {
	height: 150px;
	width: 960px;
	margin: 0px auto 30px;
}
#header h1 {
	text-align: right;
	padding-right: 10px;
}
#header .tilie {
	float: left;
	height: 150px;
	width: 400px;
	margin: -10px 0px 0px;
}
#header .sitemap em {
	visibility: hidden;
}
#text a {
	display: block;
	background: url(../images/list_button/text_off.png);
	height: 30px;
	width: 160px;
}
#header .sitemap {
	background: url(../images/hedder/sitemap.png);
	height: 116px;
	width: 180px;
	margin: 25px 0px 0px;
	float: right;
}
#text a:hover {
	background: url(../images/list_button/text_on.png);
}
#font a {
	height: 30px;
	width: 160px;
	display: block;
	background: url(../images/list_button/font_off.png);
}
#font a:hover {
	background: url(../images/list_button/font_on.png);
}
#page a {
	height: 30px;
	width: 160px;
	display: block;
	background: url(../images/list_button/page_off.png);
}
#page a:hover {
	background: url(../images/list_button/page_on.png);
}
#image a {
	height: 30px;
	width: 160px;
	display: block;
	background: url(../images/list_button/images_off.png);
}
#image a:hover {
	background: url(../images/list_button/images_on.png);
}
#link a {
	height: 30px;
	width: 160px;
	display: block;
	background: url(../images/list_button/link_off.png);
}
#link a:hover {
	background: url(../images/list_button/link_on.png);
}
#list a {
	height: 30px;
	width: 160px;
	display: block;
	background: url(../images/list_button/list_off.png);
}
#list a:hover {
	background: url(../images/list_button/list_on.png);
}
#table a {
	height: 30px;
	width: 160px;
	display: block;
	background: url(../images/list_button/table_off.png);
}
#table a:hover {
	background: url(../images/list_button/table_on.png);
}
#form a {
	height: 30px;
	width: 160px;
	display: block;
	background: url(../images/list_button/form_off.png);
}
#form a:hover {
	background: url(../images/list_button/form_on.png);
}
#other a {
	height: 30px;
	width: 160px;
	display: block;
	background: url(../images/list_button/other_off.png);
}
#other a:hover {
	background: url(../images/list_button/other_on.png);
}
#stelinks {
	text-align: center;
	margin: 0px auto;
	height: 30px;
	width: 800px;
	clear: both;
	padding-top: 20px;
	padding-bottom: 20px;
}
#sidenay em {
	visibility: hidden;
}
#stelinks dd a:hover {
	color: #e8e8e8;
	height: 29px;
	background: url(../images/footer_button/link_button_bg_on.png);
}
#stelinks dd a {
	color: #ccc;
	font-weight: bold;
	display: block;
}
#stelinks dd {
	float: left;
	height: 29px;
	width: 159px;
	margin-right: 1px;
	margin-bottom: 1px;
	background: url(../images/footer_button/link_button_bg.png);
}
#stelinks dt {
	font-size: 18px;
	font-weight: bold;
	color: #00027f;
	text-decoration: underline;
}
#footer {
	height: auto;
	border-top: 1px solid #00027f;
	width: 90%;
	margin-right: auto;
	margin-left: auto;
	clear: both;
}
