@charset "utf-8";
/* CSS Document */

#wrapper #content {
	background: url(../images/background.gif) repeat-y;
	height: 1000px;
	width: 720px;
}
#wrapper #content .m_kaeru {
	position: relative;
	float: left;
}
#wrapper #content h3 {
	font-size: 20px;
	margin-bottom: 20px;
}
#wrapper #content #text {
	font-size: 18px;
	line-height: 2em;
	position: relative;
}

#wrapper #content #kaeru {

	float: right;
	width: 220px;
	position: absolute;
	top:1100px;
	right:220px;
	}

#wrapper #content .m_kaeru {
	float: left;	
}
#wrapper #content .p_kaeru {
	float: right;	
}

#wrapper #content h2 img {
	margin-bottom: 30px;
}

#wrapper #content #t-list {
	font-size: 1.3em;
	margin-top: 30px;
}

#wrapper #content #t-list li {
	padding-bottom: 10px;
}
#wrapper #content #t-list li a {
	text-decoration: none;
	color: #333
}

#wrapper #content #t-list li a:hover {
	text-decoration:underline;
}

