@charset "utf-8";
/* CSS Document */

#maincontent {
	width: 500px;
	float: left;
}
#taglink {
	width: 220px;
	float: right;
}#cord {
	clear: both;
	height: 150px;
	width: 265px;
	border: 5px solid #F00;
	float: left;
	margin: 10px 0 10px 0px;
}
#cord2 {
	height: 150px;
	width: 415px;
	border: 5px solid #F00;
	float: right;
	margin: 10px 10px 10px 0;
}
#taglink {

}
#maincontent table em {
	font-size: 120%;
	font-weight: bold;
}
