@charset "utf-8";
/* CSS Document */

body{
	background-color:#00027f;
}
-----------------#wrapper-------------------
#wrapper {
	margin: 0px auto;
	height: auto;
	width: 960px;
	background: #FFF;
}
-----------------#header-------------------
.title {
	float: left;
	height: 150px;
	width: 400px;
	margin: -10px 0px 0px;
}
.sitemap a {
	background: url(../images/hedder/sitemap.png) no-repeat;
	float: right;
	height: 116px;
	width: 180px;
	margin: 25px 0px 0px;
}
.sitemap a:hover{
position:relative;
top:3px;
left:3px;
}
-----------------#side menu-------------------
#side-navi {
	width: 210px;
	margin-right: 30px;
}
#side-navi li {
	height: 38px;
	width:180px;
	padding-left: 20px;
	margin-bottom: 10px;
	border-bottom: 2px solid #00027f;
	border-left: 10px solid #00027f;
	margin-left: 10px;
}
#basics a {
	background: url(../images/list_button/basics_off.png) no-repeat center;
	display: block;
	height: 40px;
	width: 160px;
}
#header {
	background: url(../images/hedder/title_under.png);
	margin: 50px auto 0px;
	height: 150px;
	width: 960px;
}

#basics a:hover {
	background-image:url(../images/list_button/basics_on.png);
	background-repeat:no-repeat;
	
}
#text a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/text_off.png) no-repeat center;
}
#text a:hover {
	background-image:url(../images/list_button/text_on.png);
	background-repeat:no-repeat;
	
}
#font a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/font_off.png) no-repeat center;
}

#font a:hover {
	background-image:url(../images/list_button/font_on.png);
	background-repeat:no-repeat;
}
#pagelayout a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/page_off.png) no-repeat center;
}
#pagelayout a:hover {
	background-image:url(../images/list_button/page_on.png);
	background-repeat:no-repeat;
}
#image a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/images_off.png) no-repeat center;
}

#image a:hover {
	background-image:url(../images/list_button/images_on.png);
	background-repeat:no-repeat;
}

#link a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/link_off.png) no-repeat center;
}

#link a:hover {
	background-image:url(../images/list_button/link_on.png);
	background-repeat:no-repeat;
}

#list a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/list_off.png) no-repeat center;
}

#list a:hover {
	background-image:url(../images/list_button/list_on.png);
	background-repeat:no-repeat;
}

#table a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/table_off.png) no-repeat center;
}

#table a:hover {
	background-image:url(../images/list_button/table_on.png);
	background-repeat:no-repeat;
}

#form a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/form_off.png) no-repeat center;
}

#form a:hover {
	background-image:url(../images/list_button/form_on.png);
	background-repeat:no-repeat;
}

#others a {
	display: block;
	height: 40px;
	width: 160px;
	background: url(../images/list_button/other_off.png) no-repeat center;
}

#others a:hover {
	background-image:url(../images/list_button/other_on.png);
	background-repeat:no-repeat;
}

em {
	visibility:hidden;
}
-----------------#main menu-------------------
h1 {
	text-align: right;
	padding-top: 10px;
	padding-right: 10px;
}
#side-menu{
	width: 210px;
	height: auto;
	float: left;
}
#main {
	height: auto;
	width: 960px;
	clear: both;
	margin: 30px 10px 0px 0px;
}
#main #menu {
	margin: 30px 0px 0px;
	height: 360px;
	width: 750px;
}
#menu-top {
	background:url(../images/main/top.png) no-repeat;
	height: 180px;
	width: 180px;
}
#list1 a {
    display:block;
	height: 180px;
	width: 180px;
	background: url(../images/main/list1.png) no-repeat;
}
#list1 a:hover{
    filter:alpha(opacity=70);
    opacity:0.7;
}
#list2 a {
	display:block;
	background: url(../images/main/list2.png);
	height: 180px;
	width: 180px;
	display:block;
}
#list2 a:hover{
    filter:alpha(opacity=70);
    opacity:0.7;
}
#list3 a {
	background: url(../images/main/list3.png);
	height: 180px;
	width: 180px;
	display:block;
}
#list3 a:hover{
    filter:alpha(opacity=70);
    opacity:0.7;
}
#list4 a {
	background: url(../images/main/list4.png);
	height: 180px;
	width: 180px;
	display:block;
}
#list4 a:hover{
    filter:alpha(opacity=70);
    opacity:0.7;
}
#list5 a {
	background: url(../images/main/list5.png);
	height: 180px;
	width: 180px;
	display:block;
}
#list5 a:hover{
    filter:alpha(opacity=70);
    opacity:0.7;
}
#list6 a {
	background: url(../images/main/list6.png);
	height: 180px;
	width: 180px;
	display:block;
}
#list6 a:hover{
    filter:alpha(opacity=70);
    opacity:0.7;
}
#list7 a {
	background: url(../images/main/list7.png);
	height: 180px;
	width: 180px;
	display:block;
}
#list7 a:hover{
    filter:alpha(opacity=70);
    opacity:0.7;
}
#main #menu ul {
	height: 180px;
	width: 720px;
}
#main #menu ul li {
	float: left;
	width: 180px;
	list-style: none;
}
#footer{
	widows: 960px;
	height: auto;
	width: 960px;
	padding-bottom: 20px;
	clear: both;
	padding-top: 20px;
}
#bloglink {
	line-height: 3px;
	text-align: center;
	margin: 0px auto;
	clear: both;
	width: 800px;
	height: 20px;
	padding: 33px 0px 20px;
}
#bloglink dt {
	font-size: 18px;
	font-weight: bold;
	color: #00027f;
	text-decoration: underline;
	margin-bottom: 14px;
}
#bloglink dd {
	background: url(../images/footer_button/link_button_bg.png) repeat-x;
	float: left;
	height: 29px;
	width: 159px;
	margin-right: 1px;
	margin-bottom: 1px;
	padding: 0px;
	text-decoration: none;
}
#bloglink dd a {
	font-weight: bold;
	height: 29px;
	color: #ccc;
	display: block;
	margin-top: 14px;
	text-decoration: none;
}
#bloglink dd a:hover {
	height: 29px;
	width: 159px;
	color: #e8e8e8;
	background-image:url(../images/footer_button/link_button_bg_on.png);
	background-repeat: repeat-x;
}
#wrapper #footer {
	text-align: center;
	margin: 0px auto;
	width: 90%;
	border-top: 1px solid #00027f;
}

#wrapper {
	background: #FFF;
	margin: 0px auto;
	height: auto;
	width: 960px;
}
