@charset "utf-8";
/* CSS Document */

#wrapper #content {
	background: url(../images/background.gif) repeat-y;
	height: 1000px;
	width: 720px;
}
#wrapper #content .m_kaeru {
	position: relative;
}
#wrapper #content h3 {
	font-size: 20px;
	margin-bottom: 20px;
}
#wrapper #content #text {
	font-size: 18px;
	line-height: 2em;
}
#wrapper #content .m_kaeru {
	margin-left: 400px;
	padding-top: 110px;
}
#wrapper #content .p_kaeru {
	margin-left: 600px;
	margin-top: -60px;
}



#wrapper #content h2 img {
	margin-bottom: 30px;
}
